*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

section{
    width: 100%;
    height: 100%;
    position: relative;
}

body{
    overflow-x: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 75px;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

nav h1{
    font-size: 50px;
}

nav h1 i{
    display: inline-block;
    font-size: 55px;
    rotate: 45deg;
}

nav h4{
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

nav button{
    padding: 22px 40px;
    font-size: 22px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.5s , color 0.5s;
}

nav button:hover{
    background-color: black;
    color: white;
}

.center{
    padding: 70px 100px;
    height: 80%;
    width: 100%;
    display: flex;
}

.center-part1{
    height: 100%;
    width: 44%;
}

.center-part2{
    height: 100%;
    width: 56%;
    position: relative;
}

.center-part2 img{
    height: 100%;
    position: absolute;
    right: 0;
}

.center-part1 h1{
    line-height: 1.2 ;
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

.center-part1 p{
    font-size: 30px;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 35px;
}


.center-part1 button{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 28px 40px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease ;
    cursor: pointer;
}

.center-part1 button:hover{
    border: solid black;
    background-color: white;
    color: black;
}

.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
    flex-wrap: wrap;
}

.section1bottom img{
    height: 60px;
}

.section2 .services{
    padding: 40px 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-top:60px ;
}

.services h3{
    background-color: rgb(207, 255, 113);
    font-weight: 500;
    padding: 5px 10px 3px 10px;
    border-radius: 5px;
    font-size: 60px;
}

.services p{
    width: 40%;
    font-size: 20px;
    font-weight: 500px;
}

.container{
    height: 86%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.elem{
    flex-shrink: 0;
    height: 450px;
    width: 48%;
    border: 3px solid black;
    border-radius: 50px;
    padding: 60px;
    box-shadow: 0px 15px 0px black;
    display: flex;
}

.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part2{
    height: 100%;
    width: 50%;
}

.elem-part2 img{
    height: 100%;
}

.elem-part1 h2{
    font-size: 40px;
    width: 70%;
    padding: 0px 5px;
    border-radius: 10px;
    font-weight: 500;
    background-color: rgb(207, 255, 113);
}

.elem-part1 h4{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    gap: 20px;
}

.elem-part1 h4 i{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-weight: 900;
}

.black{
    background-color: black;
}

.black h4 i{
    color: black;
    background-color: white;
}

.black h4{
    color: white;
}

.black h2{
    background-color: white;
}